<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <style>
    <!-- 헤드 안에 위치해야 함-->
        @font-face {
            font-family: 'PFStardustExtraBold';
            src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/PFStardustExtraBold.woff2') format('woff2');
            font-weight: 800;
            font-style: normal;
}
    </style>

</head>
<body style="background-color: blue; font-family: 'PFStardustExtraBold';">
    <h1 style="background-color: gray;">파트 1부터 좃같으면 어카노</h1>


    <script>
        alert("Hello, yeonhong!"); <!--  경고창  -->
    </script> <!-- 자바 스크립트 실행   -->
</body>
</html>