<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <style>
    <!-- 헤드 안에 위치해야 함-->
        @font-face {
                font-family: 'exqt';
            src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/exqt.woff2') format('woff2');
            font-weight: normal;
            font-style: normal;
    }
    </style>

</head>
<body style="background-color: blue; font-family: 'exqt';">
    <h1 style="background-color: gray;">스프링 재밌따</h1>


    <script>
        alert("Hello, yeonhong!"); <!--  경고창  -->
    </script> <!-- 자바 스크립트 실행   -->
</body>
</html>